@model myown.Models.Serpent

@{
    ViewData["Title"] = "Detalhes do contato";
}

<h1> Detalhes </h1>

<div>
    <dl class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(x => x.PopularName):
        </dt>
        <dt class="col-sm-3">
            @Html.DisplayFor(x => x.PopularName)
        </dt>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(x => x.CientificName):
        </dt>
        <dt class="col-sm-3">
            @Html.DisplayFor(x => x.CientificName)
        </dt>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(x => x.Family):
        </dt>
        <dt class="col-sm-3">
            @Html.DisplayFor(x => x.Family)
        </dt>
    </dl>
</div>

<a asp-action="Editar" asp-route-id="@Model.Id">Editar</a>
&nbsp;
<a asp-action="Index">Voltar</a>