@model myown.Models.MyData

@{
    ViewData["Title"] = "Detalhes do contato";
}

<h1> Detalhes </h1>

<div>
    <dl class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(x => x.Nome):
        </dt>
        <dt class="col-sm-3">
            @Html.DisplayFor(x => x.Nome)
        </dt>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(x => x.Telefone):
        </dt>
        <dt class="col-sm-3">
            @Html.DisplayFor(x => x.Telefone)
        </dt>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(x => x.Ativo):
        </dt>
        <dt class="col-sm-3">
            @Html.DisplayFor(x => x.Ativo)
        </dt>
    </dl>
</div>

<a asp-action="Editar" asp-route-id="@Model.Id">Editar</a>
&nbsp;
<a asp-action="Index">Voltar</a>